* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-4 {
  margin-top: 10px;
  color: #293241;
}

.lead {
  font-size: 2rem;
  margin-top: 5px;
}

.btn {
  margin-top: 17px;
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

p {
  margin-top: 15px;
  font-size: 2rem;
  text-transform: capitalize;
}
